* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: IndieFlower-Regular;
  src: url(../fonts/IndieFlower-Regular.ttf);
}
@font-face {
  font-family: JosefinSans-VariableFont_wght;
  src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: Quicksand-VariableFont_wght;
  src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: GreatVibes-Regular;
  src: url(../fonts/GreatVibes-Regular.ttf);
}
@font-face {
  font-family: EuphoriaScript-Regular;
  src: url(../fonts/EuphoriaScript-Regular.ttf);
}
#principal {
  width: 100%;
}
#secundario {
  width: 40%;
  margin-top: -5%;
}
h1 {
  display: flexbox;
  position: absolute;
  font-family: EuphoriaScript-Regular;
  font-size: 13vh;
  margin-left: 25%;
  margin-top: -50%;
}
p {
  display: flexbox;
  position: absolute;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3vh;
  font-style: oblique;
  margin-top: -34%;
  margin-left: 25%;
}
.day {
  display: flexbox;
  position: absolute;
  margin-bottom: -100%;
  margin-top: -30%;
  margin-left: 25%;
  border: 3px solid whitesmoke;
  width: 20%;
  height: 3vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.sleep {
  display: flexbox;
  position: absolute;
  margin-bottom: -100%;
  margin-top: -28.5%;
  margin-left: 25%;
  border: 3px solid whitesmoke;
  width: 20%;
  height: 3vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.trabalha {
  display: flexbox;
  position: absolute;
  margin-bottom: -100%;
  margin-top: -26.5%;
  margin-left: 25%;
  border: 3px solid whitesmoke;
  width: 20%;
  height: 3vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.dinner {
  display: flexbox;
  position: absolute;
  margin-bottom: -100%;
  margin-top: -24.5%;
  margin-left: 25%;
  border: 3px solid whitesmoke;
  width: 20%;
  height: 3vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#resultado {
  background: whitesmoke;
  display: flexbox;
  position: absolute;
  border: 6px solid whitesmoke;
  margin-left: 35%;
  margin-top: -20.9%;
  width: 10%;
  height: 3vh;
}
button {
  display: flexbox;
  position: absolute;
  margin-left: 25%;
  margin-top: -20%;
  border: 3px solid whitesmoke;
  width: 7%;
  height: 3vh;
}

h4 {
  font-family: JosefinSans-VariableFont_wght;
  font-size: 4vh;
  margin-top: -37%;
  margin-left: 50%;
}

.direitos {
  font-family: Quicksand-VariableFont_wght;
  font-size: 2vh;
  margin-left: 50%;
  margin-top: 8%;
  text-align: left;
}

.direitos1 {
  font-family: Quicksand-VariableFont_wght;
  font-size: 2vh;
  margin-left: 50%;
  margin-top: 6%;
}

em {
  font-family: GreatVibes-Regular;
  font-size: 3vh;
  font-style: italic;
  margin-left: 50%;
}

#icon {
  margin-left: 50%;
  margin-top: 10%;
  padding: 0%;
}

@media (max-width: 1536px){

  #secundario {
    width: 40%;
    margin-top: -6.5%;
  }
  p {
    margin-left: 20%;
  }
  #resultado {
    margin-top: -21.1%;
  }

}
@media (max-width: 1366px) {
  #secundario {
    margin-top: -6.9%;
  }
  #resultado {
    border: 3px solid whitesmoke;
    margin-top: -21.3%;
  }
  button {
    border: 3px solid whitesmoke;
    width: 9%;
  }
}
@media (max-width: 414px) {
  #principal {
    width: 100%;
  }
}